{# src/AppBundle/Resources/views/Email/feedback.html.twig #}
<p>{{ feedback.name }} ({{ feedback.email }}) {{ 'feedback.sent_message'|trans({}, "emails") }}:</p>

<p>{{ feedback.message }}</p>

<p>{{ 'feedback.at_date'|trans({}, "emails") }} {{ "now"|date("H:i, d-m-Y") }}.</p>